<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="true" name="mssmarttagspreventparsing" />
	<meta http-equiv="imagetoolbar" content="no" />
	<title>Stylissimo Template</title>
	<link href="css/style2.css" rel="stylesheet" type="text/css" />
</head>

<body>

<!-- Header -->
<div id="hdr">
	
	<!-- Logo -->
	<div id="logo">
                <a href="/"></a>
	</div>
	
	<!-- Slogan -->
  <p class="htit">Posteador y busqueda de productos en multiples plataformas.</p>

	<!-- Main Menu -->
	<div id="menu"></div>
</div>
<div id="resultado">
<center>
<h1>Ups! Error de busqueda.</h1>
<p>Se a Producido un error, el articulo no se a encontrado por favor comprueba si introducirte :</p>
<ul>
<li>Caracteres no de codigo ascii.</li>
<li>Palabra o frase esta correctamente escrita.</li>
</ul>
<h4>Palabra o frase que buscaste:</h4>
<h3>{{entradah}}</h3>
</center>
</div>
</body>
</html>

