<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="true" name="mssmarttagspreventparsing" />
	<meta http-equiv="imagetoolbar" content="no" />
	<title>Error de BUsqueda</title>
	<link href="css/style2.css" rel="stylesheet" type="text/css" />
</head>

<body>

<!-- Header -->
<div id="hdr">
	
	<!-- Logo -->
	<div id="logo">
                <a href="/"></a>
	</div>
	
	<!-- Slogan -->
  <p class="htit">Posteador y busqueda de productos en multiples plataformas.</p>

	<!-- Main Menu -->
	<div id="menu"></div>
</div>
<div id="resultado">
<center>
<h1>La busqueda de "{{entradah}}" no obtuvo ningun resultado.</h1>
<p>Se a Producido un error, el articulo no se a encontrado, porfavor intente con otra buaqueda.</p>
<ul>
</center>
</div>
</body>
</html>

