<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="true" name="mssmarttagspreventparsing" />
	<meta http-equiv="imagetoolbar" content="no" />
	<title>AdNail - Resultado</title>
	<link href="css/style2.css" rel="stylesheet" type="text/css" />
</head>

<body>

<!-- Header -->
<div id="hdr">
	
	<!-- Logo -->
	<div id="logo">
                <a href="/"></a>
	</div>
	
	<!-- Slogan -->
  <p class="htit">Posteador y busqueda de productos en multiples plataformas.</p>

	<!-- Main Menu -->
	<div id="menu"></div>
</div>
<div id="resultado">
	<center>
	<h1>Información de Contacto:</h1>
	<h4>Desarrollado por Tedezed</h4>
	<a href="https://github.com/Tedezed">GitHub Personal</a>
	<a href="https://github.com/Tedezed/AdNail">GitHub AdNail</a>
</center>
</div>
</body>
</html>

