<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="true" name="mssmarttagspreventparsing" />
	<meta http-equiv="imagetoolbar" content="no" />
	<title>AdNail - Inicio</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<!-- Header -->
<div id="hdr">

	<!-- Search form -->
	<form id="search_form" action="/resultado" method="post">
	</form>
	
	<!-- Logo -->
	<div id="logo">
                <a href="/"></a>
	</div>
	
	<!-- Slogan -->
  <p class="htit">Posteador y busqueda de productos en multiples plataformas.</p>

	<!-- Main Menu -->
	<div id="menu">
		<a class="menu_grap" href="busqueda">Busqueda</a>
		<a class="menu_fnt" href="contacto">Contacto</a>
	</div>
</div>
</body>
</html>

